.container {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
}
.image {
    display: block;
    width: 200px;
    height: 200px;
}
.overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: #eee;
}
.container:hover .overlay{
    opacity: 0.6;
}
.text {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.overlayLeft {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;

}
.container:hover .overlayLeft{
    width: 100%;
}